<div class="container">
  <h2 class="col-sm-4 block1">Edit Article</h2>
  <div class="col-sm-4 block1">
    <%= render 'form' %>
  </div>

  <div class="col-sm-4 block1">
    <%= link_to 'article', article_path(@article) %><br />
    <%= link_to 'Back', root_path %>
  </div>
</div>
